.ContentBackground__heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.ContentBackground__heart div {
  top: 42px;
  left: 42px;
  position: absolute;
  width: 42px;
  height: 42px;
  background: white;
  box-shadow: 0 0 20px white;
  animation: ContentBackground__heart 1.2s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ContentBackground__heart div:after,
.ContentBackground__heart div:before {
  content: ' ';
  position: absolute;
  display: block;
  width: 42px;
  height: 42px;
  background: white;
  box-shadow: 0 0 20px white;
}
.ContentBackground__heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.ContentBackground__heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes ContentBackground__heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

.ContentBackground {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
}
