.ContentBackground__heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.ContentBackground__heart div {
  top: 42px;
  left: 42px;
  position: absolute;
  width: 42px;
  height: 42px;
  background: white;
  box-shadow: 0 0 20px white;
  animation: ContentBackground__heart 1.2s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ContentBackground__heart div:after,
.ContentBackground__heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 42px;
  height: 42px;
  background: white;
  box-shadow: 0 0 20px white;
}
.ContentBackground__heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.ContentBackground__heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes ContentBackground__heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

.ContentBackground {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
}

.flower {
  height: 200px;
  width: 200px;
  margin: 20px auto;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  background-color: transparent;

  /* Agrega una animación de pulsación */
  animation: pulsate 2s infinite;
}

.text-above,
.text-below {
  position: absolute;
  text-align: center;
  color: #fff; /* Color del texto */
  font-size: 25px; /* Tamaño del texto */
}

.text-above {
  top: -60px; /* Ajusta la posición vertical del texto arriba de la flor */
}

.text-below {
  bottom: -60px; /* Ajusta la posición vertical del texto debajo de la flor */
}
@keyframes pulsate {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1.5);
  }
}
.mid {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background: radial-gradient(circle, #000, #ff5e00, #000);

  z-index: 4;

  background-size: 5px 5px;

  filter: drop-shadow(0 0 8px #682600);
}

.Petal1 {
  position: absolute;
  left: 40px;
  z-index: 3;

  width: 120px;
  height: 30px;
  border-radius: 50%;

  background: radial-gradient(circle, #ff5e00, #ffbb00);

  filter: drop-shadow(0 0 5px #e05200);
}

.Petal1.p1 {
  transform: rotate(22.5deg);
}
.Petal1.p2 {
  transform: rotate(67.5deg);
}
.Petal1.p3 {
  transform: rotate(110.5deg);
}
.Petal1.p4 {
  transform: rotate(157.5deg);
}

.Petal2 {
  position: absolute;
  left: 0;
  z-index: 2;

  width: 200px;
  height: 40px;
  border-radius: 50%;

  background: radial-gradient(circle, #ff5e00, #fbd702);

  filter: drop-shadow(0 0 5px #e05200);
}

.Petal2.p1 {
}

.Petal2.p2 {
  transform: rotate(90deg);
}
.Petal2.p3 {
  transform: rotate(45deg);
}

.Petal2.p4 {
  transform: rotate(135deg);
}

.Petal3 {
  position: absolute;
  left: 0px;
  z-index: 1;

  width: 200px;
  height: 40px;
  border-radius: 50%;

  background: radial-gradient(circle, #ff5e00, #fbd702);

  filter: drop-shadow(0 0 2px #fbd702);
}

.Petal3.p1 {
  transform: rotate(22.5deg);
}
.Petal3.p2 {
  transform: rotate(67.5deg);
}
.Petal3.p3 {
  transform: rotate(110.5deg);
}
.Petal3.p4 {
  transform: rotate(157.5deg);
}
